workflows/7dKljRHQYOEvC5wP.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "ADD JSON HERE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADD JSON HERE": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Documentation": {
      "main": [
        [
          {
            "node": "Generate Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Title": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Generate Documentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-14T23:35:54.851Z",
  "id": "7dKljRHQYOEvC5wP",
  "meta": null,
  "name": "JSON Workflow Make or n8n to Documentation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        -440
      ],
      "id": "64b13330-a956-480d-898e-fc7cd5e9df01",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "folderId": "1afAvZk9vSG_4J49_AAqvcL2CP6WcmHKy",
        "title": "={{ $json.message.content }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        900,
        -160
      ],
      "id": "486e5f8e-8456-4046-a619-df0395c50813",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "KTAaYCommWxKuvau",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3ffc8d1-d3bc-4a64-9f86-dc6bcdf202b4",
              "name": "json_flow",
              "value": "{   \"active\": false,   \"connections\": {     \"Run workflow\": {       \"main\": [         [           {             \"node\": \"Loop over queries\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Loop over URLs\": {       \"main\": [         [           {             \"node\": \"Loop over pages\",             \"type\": \"main\",             \"index\": 0           }         ],         [           {             \"node\": \"Request web page for URL\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Loop over pages\": {       \"main\": [         [           {             \"node\": \"Aggregate arrays of emails\",             \"type\": \"main\",             \"index\": 0           }         ],         [           {             \"node\": \"Scrape emails from page\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Loop over queries\": {       \"main\": [         [],         [           {             \"node\": \"Execute scraper for query\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Remove Duplicate URLs\": {       \"main\": [         [           {             \"node\": \"Loop over URLs\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Filter irrelevant URLs\": {       \"main\": [         [           {             \"node\": \"Remove Duplicate URLs\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Remove duplicate emails\": {       \"main\": [         [           {             \"node\": \"Filter irrelevant emails\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Scrape emails from page\": {       \"main\": [         [           {             \"node\": \"Loop over pages\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Starts scraper workflow\": {       \"main\": [         [           {             \"node\": \"Search Google Maps with query\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Wait between executions\": {       \"main\": [         [           {             \"node\": \"Loop over queries\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Filter irrelevant emails\": {       \"main\": [         [           {             \"node\": \"Save emails to Google Sheet\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Request web page for URL\": {       \"main\": [         [           {             \"node\": \"Loop over URLs\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Scrape URLs from results\": {       \"main\": [         [           {             \"node\": \"Filter irrelevant URLs\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Execute scraper for query\": {       \"main\": [         [           {             \"node\": \"Wait between executions\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Aggregate arrays of emails\": {       \"main\": [         [           {             \"node\": \"Split out into default data structure\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Search Google Maps with query\": {       \"main\": [         [           {             \"node\": \"Scrape URLs from results\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     },     \"Split out into default data structure\": {       \"main\": [         [           {             \"node\": \"Remove duplicate emails\",             \"type\": \"main\",             \"index\": 0           }         ]       ]     }   },   \"createdAt\": \"2024-12-28T21:49:11.333Z\",   \"id\": \"KSSX3StJiAPUsd1i\",   \"meta\": {     \"templateId\": \"2567\"   },   \"name\": \"Scrape business emails from Google Maps without the use of any third party APIs\",   \"nodes\": [     {       \"parameters\": {},       \"id\": \"79df5316-c210-478d-a4de-35b5d31924ee\",       \"name\": \"Remove Duplicate URLs\",       \"type\": \"n8n-nodes-base.removeDuplicates\",       \"position\": [         1880,         980       ],       \"typeVersion\": 1.1     },     {       \"parameters\": {         \"options\": {}       },       \"id\": \"985ac7e3-b501-4079-a043-780677c94b52\",       \"name\": \"Loop over queries\",       \"type\": \"n8n-nodes-base.splitInBatches\",       \"position\": [         1580,         500       ],       \"typeVersion\": 3     },     {       \"parameters\": {         \"url\": \"=https://www.google.com/maps/search/{{ $json.query }}\",         \"options\": {           \"allowUnauthorizedCerts\": false         }       },       \"id\": \"3a478935-781b-4fb1-bdc7-fcf8be1334bc\",       \"name\": \"Search Google Maps with query\",       \"type\": \"n8n-nodes-base.httpRequest\",       \"position\": [         1280,         980       ],       \"executeOnce\": false,       \"typeVersion\": 4.2,       \"alwaysOutputData\": false     },     {       \"parameters\": {         \"jsCode\": \"const data = $input.first().json.data\\n\\nconst regex = /https?:\\\\/\\\\/[^\\\\/]+/g\\n\\nconst urls = data.match(regex)\\n\\nreturn urls.map(url => ({json: {url: url}}))\"       },       \"id\": \"477e7d55-b7d6-4b20-ac44-dd1f443e270a\",       \"name\": \"Scrape URLs from results\",       \"type\": \"n8n-nodes-base.code\",       \"position\": [         1480,         980       ],       \"typeVersion\": 2     },     {       \"parameters\": {         \"conditions\": {           \"options\": {             \"version\": 2,             \"leftValue\": \"\",             \"caseSensitive\": true,             \"typeValidation\": \"strict\"           },           \"conditions\": [             {               \"id\": \"041797f2-2fe2-41dc-902a-d34050b9b304\",               \"operator\": {                 \"type\": \"string\",                 \"operation\": \"notRegex\"               },               \"leftValue\": \"={{ $json.url }}\",               \"rightValue\": \"=(google|gstatic|ggpht|schema\\\\.org|example\\\\.com|sentry-next\\\\.wixpress\\\\.com|imli\\\\.com|sentry\\\\.wixpress\\\\.com|ingest\\\\.sentry\\\\.io|ejemplo|tuemail|webp|jpg|w3\\\\.org|2x\\\\.webp|dominio|\\\\.js)\\n\"             },             {               \"id\": \"eb499a7e-17bc-453c-be08-a47286f726dd\",               \"operator\": {                 \"name\": \"filter.operator.equals\",                 \"type\": \"string\",                 \"operation\": \"equals\"               },               \"leftValue\": \"\",               \"rightValue\": \"\"             }           ],           \"combinator\": \"and\"         },         \"options\": {}       },       \"id\": \"a5b67e45-a3f6-41d2-aa58-c26a441c41b2\",       \"name\": \"Filter irrelevant URLs\",       \"type\": \"n8n-nodes-base.filter\",       \"position\": [         1680,         980       ],       \"typeVersion\": 2.2     },     {       \"parameters\": {         \"url\": \"={{ $json.url }}\",         \"options\": {}       },       \"id\": \"40ec6d1f-1c98-4c9f-8499-c5893c3df7b9\",       \"name\": \"Request web page for URL\",       \"type\": \"n8n-nodes-base.httpRequest\",       \"position\": [         2280,         1060       ],       \"typeVersion\": 4.2,       \"alwaysOutputData\": false,       \"onError\": \"continueRegularOutput\"     },     {       \"parameters\": {         \"options\": {           \"reset\": false         }       },       \"id\": \"12f662a8-c55f-409a-b381-f37ab6dd3794\",       \"name\": \"Loop over URLs\",       \"type\": \"n8n-nodes-base.splitInBatches\",       \"position\": [         2080,         980       ],       \"typeVersion\": 3,       \"onError\": \"continueErrorOutput\"     },     {       \"parameters\": {         \"options\": {}       },       \"id\": \"e6957d05-3533-48ae-9cc1-ee4ac026a2a6\",       \"name\": \"Loop over pages\",       \"type\": \"n8n-nodes-base.splitInBatches\",       \"position\": [         2300,         720       ],       \"typeVersion\": 3,       \"alwaysOutputData\": false,       \"onError\": \"continueErrorOutput\"     },     {       \"parameters\": {         \"mode\": \"runOnceForEachItem\",         \"jsCode\": \"const data = $json.data\\n\\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g\\n\\nconst emails = data.match(emailRegex)\\n\\nreturn {json: {emails: emails}}\"       },       \"id\": \"018621c0-0ea9-4865-b110-b6d0727f0588\",       \"name\": \"Scrape emails from page\",       \"type\": \"n8n-nodes-base.code\",       \"position\": [         2460,         820       ],       \"typeVersion\": 2,       \"onError\": \"continueRegularOutput\"     },     {       \"parameters\": {         \"fieldsToAggregate\": {           \"fieldToAggregate\": [             {               \"fieldToAggregate\": \"emails\"             }           ]         },         \"options\": {           \"mergeLists\": true         }       },       \"id\": \"5509b8e2-a6fc-4fbe-bbc5-1bc1d5de1c98\",       \"name\": \"Aggregate arrays of emails\",       \"type\": \"n8n-nodes-base.aggregate\",       \"position\": [         2620,         700       ],       \"typeVersion\": 1     },     {       \"parameters\": {         \"fieldToSplitOut\": \"emails\",         \"options\": {}       },       \"id\": \"f1f01f03-b62e-453f-b938-ffe4f9b3f4de\",       \"name\": \"Split out into default data structure\",       \"type\": \"n8n-nodes-base.splitOut\",       \"position\": [         2840,         700       ],       \"typeVersion\": 1     },     {       \"parameters\": {         \"compare\": \"selectedFields\",         \"fieldsToCompare\": \"emails\",         \"options\": {}       },       \"id\": \"ec27d665-d9c1-4f10-9c52-0d5ea89cbf77\",       \"name\": \"Remove duplicate emails\",       \"type\": \"n8n-nodes-base.removeDuplicates\",       \"position\": [         3060,         700       ],       \"typeVersion\": 1.1     },     {       \"parameters\": {         \"conditions\": {           \"options\": {             \"version\": 2,             \"leftValue\": \"\",             \"caseSensitive\": true,             \"typeValidation\": \"strict\"           },           \"conditions\": [             {               \"id\": \"041797f2-2fe2-41dc-902a-d34050b9b304\",               \"operator\": {                 \"type\": \"string\",                 \"operation\": \"notRegex\"               },               \"leftValue\": \"={{ $json.emails }}\",               \"rightValue\": \"=(google|gstatic|ggpht|schema\\\\.org|example\\\\.com|sentry\\\\.wixpress\\\\.com|sentry-next\\\\.wixpress\\\\.com|ingest\\\\.sentry\\\\.io|sentry\\\\.io|imli\\\\.com)\"             }           ],           \"combinator\": \"and\"         },         \"options\": {}       },       \"id\": \"4a071bf0-23ad-455b-b231-bafd3b32e4f8\",       \"name\": \"Filter irrelevant emails\",       \"type\": \"n8n-nodes-base.filter\",       \"position\": [         3260,         700       ],       \"typeVersion\": 2.2     },     {       \"parameters\": {         \"operation\": \"append\",         \"documentId\": {           \"__rl\": true,           \"value\": \"https://docs.google.com/spreadsheets/d/1_DeMmM60bWZ-5_U_HMMV4CZXB7g_m5H_Oe3-ULsqWUk/edit?gid=0#gid=0\",           \"mode\": \"url\"         },         \"sheetName\": {           \"__rl\": true,           \"value\": \"gid=0\",           \"mode\": \"list\",           \"cachedResultName\": \"Sheet1\",           \"cachedResultUrl\": \"https://docs.google.com/spreadsheets/d/1_DeMmM60bWZ-5_U_HMMV4CZXB7g_m5H_Oe3-ULsqWUk/edit#gid=0\"         },         \"columns\": {           \"mappingMode\": \"defineBelow\",           \"value\": {             \"Email\": \"={{$json[\\\"emails\\\"]}}\"           },           \"matchingColumns\": [],           \"schema\": [             {               \"id\": \"Email\",               \"displayName\": \"Email\",               \"required\": false,               \"defaultMatch\": false,               \"display\": true,               \"type\": \"string\",               \"canBeUsedToMatch\": true,               \"removed\": false             }           ]         },         \"options\": {}       },       \"id\": \"59675faa-2b0d-4ba5-82c7-dc5dedcad31e\",       \"name\": \"Save emails to Google Sheet\",       \"type\": \"n8n-nodes-base.googleSheets\",       \"position\": [         3460,         700       ],       \"typeVersion\": 4.5,       \"credentials\": {         \"googleSheetsOAuth2Api\": {           \"id\": \"4HT6fRdsJzoJecPy\",           \"name\": \"Google Sheets account - ivangmail\"         }       }     },     {       \"parameters\": {},       \"id\": \"93437e8b-4f8d-40a1-9585-cab1b556164a\",       \"name\": \"Starts scraper workflow\",       \"type\": \"n8n-nodes-base.executeWorkflowTrigger\",       \"position\": [         1060,         980       ],       \"typeVersion\": 1     },     {       \"parameters\": {},       \"id\": \"eed77477-777d-450d-a975-4d2848b1cf55\",       \"name\": \"Run workflow\",       \"type\": \"n8n-nodes-base.manualTrigger\",       \"position\": [         1340,         500       ],       \"typeVersion\": 1     },     {       \"parameters\": {},       \"id\": \"dffaf04e-d1d2-4002-9a69-f0904b61fc2d\",       \"name\": \"Wait between executions\",       \"type\": \"n8n-nodes-base.wait\",       \"position\": [         1960,         600       ],       \"webhookId\": \"40eb11a9-0f7d-4932-993e-0052b69dbf9b\",       \"typeVersion\": 1.1     },     {       \"parameters\": {         \"workflowId\": {           \"__rl\": true,           \"mode\": \"id\",           \"value\": \"={{ $workflow.id }}\"         },         \"mode\": \"each\",         \"options\": {           \"waitForSubWorkflow\": false         }       },       \"id\": \"18787007-1d11-41b9-89c3-d5f69756eda7\",       \"name\": \"Execute scraper for query\",       \"type\": \"n8n-nodes-base.executeWorkflow\",       \"position\": [         1780,         600       ],       \"typeVersion\": 1.1     },     {       \"parameters\": {         \"content\": \"## 🛠 Setup\\n1. Setup your list of queries in the \\\"Run workflow\\\" manual trigger node. Watch  this [video](https://youtu.be/HaiO-UeiKBA) on how to generate the queries with ChatGPT.\\n3. Choose a sheet to populate with data in the **Google Sheets node**\\n4. Run the workflow and start getting leads into your Google Sheets document\",         \"height\": 180,         \"width\": 740,         \"color\": 5       },       \"id\": \"67fcde25-05e4-437c-b799-4448baea7891\",       \"name\": \"Sticky Note\",       \"type\": \"n8n-nodes-base.stickyNote\",       \"position\": [         380,         460       ],       \"typeVersion\": 1     },     {       \"parameters\": {         \"content\": \"**Optional** 👇\\nSet wait time between each query workflow execution. Default is 2 seconds.\",         \"height\": 100,         \"color\": 6       },       \"id\": \"ac880457-44b4-4ff7-8440-b4107f8468bb\",       \"name\": \"Sticky Note2\",       \"type\": \"n8n-nodes-base.stickyNote\",       \"position\": [         1960,         480       ],       \"typeVersion\": 1     },     {       \"parameters\": {         \"content\": \"### Scraper 👇\\nThis workflow will be executed in the background for each query. Click the **All executions** tab in the left sidebar to see the executions running.\",         \"height\": 100,         \"width\": 480       },       \"id\": \"d83afb3d-7b71-4b47-9b50-28837aac408c\",       \"name\": \"Sticky Note3\",       \"type\": \"n8n-nodes-base.stickyNote\",       \"position\": [         1060,         860       ],       \"typeVersion\": 1     },     {       \"parameters\": {         \"content\": \"👆 \\n1. Setup your **credentials**. Here's a [video tutorial](https://youtu.be/O5RnWDM27M8) on how to do that.\\n\\n2. Choose which document and sheet to save the scraped emails to. \",         \"height\": 180,         \"color\": 4       },       \"id\": \"007b621a-3d41-4358-aa45-560a3c8e3414\",       \"name\": \"Sticky Note4\",       \"type\": \"n8n-nodes-base.stickyNote\",       \"position\": [         3480,         900       ],       \"typeVersion\": 1     },     {       \"parameters\": {         \"content\": \" ## ⚠️ Note\\n\\nA [video tutorial](https://youtu.be/HaiO-UeiKBA) for this workflow guide is available on my [Youtube channel](https://www.youtube.com/channel/UCn8xmUBunez1SsDVRfZDUGA)\",         \"color\": 3       },       \"id\": \"fc0b837f-624c-4d25-8ed7-f787f76c785b\",       \"name\": \"Sticky Note5\",       \"type\": \"n8n-nodes-base.stickyNote\",       \"position\": [         900,         240       ],       \"typeVersion\": 1     },     {       \"parameters\": {         \"content\": \"## Google Maps Automatic Email Scraper\\n\\nThis workflow automatically scrapes emails from businesses on Google Maps based on a list of queries that you provide.\",         \"height\": 140,         \"width\": 480,         \"color\": 7       },       \"id\": \"2f8665d5-2890-4f7d-908b-9c09a66b6c93\",       \"name\": \"Sticky Note6\",       \"type\": \"n8n-nodes-base.stickyNote\",       \"position\": [         380,         240       ],       \"typeVersion\": 1     },     {       \"parameters\": {         \"content\": \"**Optional** 👆\\nAdd or change the regex for filtering irrelevant URLs.\",         \"height\": 100,         \"width\": 160,         \"color\": 6       },       \"id\": \"7414b2ed-259d-47da-bbd1-d9ce0d64d43c\",       \"name\": \"Sticky Note7\",       \"type\": \"n8n-nodes-base.stickyNote\",       \"position\": [         1660,         1140       ],       \"typeVersion\": 1     },     {       \"parameters\": {         \"content\": \"**Optional** 👆\\nAdd or change the regex for filtering irrelevant/incorrect email addresses.\",         \"height\": 100,         \"width\": 200,         \"color\": 6       },       \"id\": \"789c9a02-e6e7-4ea6-a7a2-acc7715b377a\",       \"name\": \"Sticky Note8\",       \"type\": \"n8n-nodes-base.stickyNote\",       \"position\": [         3240,         860       ],       \"typeVersion\": 1     }   ],   \"pinData\": {     \"Run workflow\": [       {         \"json\": {           \"query\": \"botox la plata argentina\"         }       },       {         \"json\": {           \"query\": \"botox mar del plata argentina\"         }       },       {         \"json\": {           \"query\": \"botox tandil argentina\"         }       },       {         \"json\": {           \"query\": \"botox bahia blanca argentina\"         }       },       {         \"json\": {           \"query\": \"botox necochea argentina\"         }       },       {         \"json\": {           \"query\": \"botox cordoba argentina\"         }       },       {         \"json\": {           \"query\": \"botox villa carlos paz argentina\"         }       },       {         \"json\": {           \"query\": \"botox rio cuarto argentina\"         }       },       {         \"json\": {           \"query\": \"botox villa maria argentina\"         }       },       {         \"json\": {           \"query\": \"botox rosario argentina\"         }       },       {         \"json\": {           \"query\": \"botox santa fe argentina\"         }       },       {         \"json\": {           \"query\": \"botox rafaela argentina\"         }       },       {         \"json\": {           \"query\": \"botox mendoza argentina\"         }       },       {         \"json\": {           \"query\": \"botox san rafael argentina\"         }       },       {         \"json\": {           \"query\": \"botox godoy cruz argentina\"         }       },       {         \"json\": {           \"query\": \"botox salta argentina\"         }       },       {         \"json\": {           \"query\": \"botox san miguel de tucuman argentina\"         }       },       {         \"json\": {           \"query\": \"botox san juan argentina\"         }       },       {         \"json\": {           \"query\": \"botox parana argentina\"         }       },       {         \"json\": {           \"query\": \"botox concordia argentina\"         }       },       {         \"json\": {           \"query\": \"botox posadas argentina\"         }       },       {         \"json\": {           \"query\": \"botox resistencia argentina\"         }       },       {         \"json\": {           \"query\": \"botox neuquen argentina\"         }       },       {         \"json\": {           \"query\": \"botox san carlos de bariloche argentina\"         }       },       {         \"json\": {           \"query\": \"botox ushuaia argentina\"         }       },       {         \"json\": {           \"query\": \"botox rio gallegos argentina\"         }       },       {         \"json\": {           \"query\": \"botox comodoro rivadavia argentina\"         }       },       {         \"json\": {           \"query\": \"botox puerto madryn argentina\"         }       },       {         \"json\": {           \"query\": \"botox trelew argentina\"         }       },       {         \"json\": {           \"query\": \"botox viedma argentina\"         }       },       {         \"json\": {           \"query\": \"botox san luis argentina\"         }       },       {         \"json\": {           \"query\": \"botox san fernando del valle de catamarca argentina\"         }       },       {         \"json\": {           \"query\": \"botox la rioja argentina\"         }       },       {         \"json\": {           \"query\": \"botox santiago del estero argentina\"         }       },       {         \"json\": {           \"query\": \"botox san salvador de jujuy argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico la plata argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico mar del plata argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico tandil argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico bahia blanca argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico necochea argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico cordoba argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico villa carlos paz argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico rio cuarto argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico villa maria argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico rosario argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico santa fe argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico rafaela argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico mendoza argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico san rafael argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico godoy cruz argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico salta argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico san miguel de tucuman argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico san juan argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico parana argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico concordia argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico posadas argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico resistencia argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico neuquen argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico san carlos de bariloche argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico ushuaia argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico rio gallegos argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico comodoro rivadavia argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico puerto madryn argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico trelew argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico viedma argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico san luis argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico san fernando del valle de catamarca argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico la rioja argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico santiago del estero argentina\"         }       },       {         \"json\": {           \"query\": \"acido hialuronico san salvador de jujuy argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico la plata argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico mar del plata argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico tandil argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico bahia blanca argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico necochea argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico cordoba argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico villa carlos paz argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico rio cuarto argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico villa maria argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico rosario argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico santa fe argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico rafaela argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico mendoza argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico san rafael argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico godoy cruz argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico salta argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico san miguel de tucuman argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico san juan argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico parana argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico concordia argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico posadas argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico resistencia argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico neuquen argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico san carlos de bariloche argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico ushuaia argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico rio gallegos argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico comodoro rivadavia argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico puerto madryn argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico trelew argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico viedma argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico san luis argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico san fernando del valle de catamarca argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico la rioja argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico santiago del estero argentina\"         }       },       {         \"json\": {           \"query\": \"cirujano plastico san salvador de jujuy argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia la plata argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia mar del plata argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia tandil argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia bahia blanca argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia necochea argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia cordoba argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia villa carlos paz argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia rio cuarto argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia villa maria argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia rosario argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia santa fe argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia rafaela argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia mendoza argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia san rafael argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia godoy cruz argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia salta argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia san miguel de tucuman argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia san juan argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia parana argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia concordia argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia posadas argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia resistencia argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia neuquen argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia san carlos de bariloche argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia ushuaia argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia rio gallegos argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia comodoro rivadavia argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia puerto madryn argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia trelew argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia viedma argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia san luis argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia san fernando del valle de catamarca argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia la rioja argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia santiago del estero argentina\"         }       },       {         \"json\": {           \"query\": \"rinoplastia san salvador de jujuy argentina\"         }       }     ]   },   \"settings\": {},   \"staticData\": null,   \"tags\": [],   \"triggerCount\": 0,   \"updatedAt\": \"2024-12-31T21:03:03.000Z\",   \"versionId\": \"a0b939b7-73b1-4ad8-867d-94ab461adcd7\" }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        -440
      ],
      "id": "d3b47067-2374-4b73-bce8-60424899b889",
      "name": "ADD JSON HERE"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Generate Documentation').item.json.message.content }}\n\n{{ $('OpenAI').item.json.message.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1140,
        -160
      ],
      "id": "d8d1526a-ba61-4cc6-b516-7c11edf7d0ca",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "KTAaYCommWxKuvau",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a Make.com scenario documentation expert. Please use the provided Make.com or n8n JSON blueprint and tell me what it does, what types of apps it connects to, what actions it takes, etc.\n\n1) Start with a paragraph that describes what this scenario does in plain language, but include technical indicators as needed for technical people.\n2) For each flow item create (if existent) a description of what the module does.Include all flow modules.\n3) Use markdown language\n\n{{ $('ADD JSON HERE').item.json.json_flow }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        160,
        -160
      ],
      "id": "d05f97aa-4e96-436e-9818-b72dca2f06b5",
      "name": "Generate Documentation",
      "credentials": {
        "openAiApi": {
          "id": "JnJlqMDcZRi5yZz4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the workflow title from this documentation. Return only the title and nothing else\n\n {{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        540,
        -160
      ],
      "id": "adbd9af9-af09-4171-a33e-fd198b1b07fa",
      "name": "Generate Title",
      "credentials": {
        "openAiApi": {
          "id": "JnJlqMDcZRi5yZz4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Convert the following JSON representation of an n8n workflow into a Mermaid.js flowchart. Use descriptive node names and show all connections between nodes.\nIn case of loops, make sure the inside modules are easily identifiable to avoid confusions.\nUse adequate coloring\nReturn only the Mermaid.js code.\n\nJSON:  {{ $json.json_flow }}",
              "role": "=user"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        760,
        -440
      ],
      "id": "a2ad14e3-d16e-42ef-b61b-5ea563646b8e",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JnJlqMDcZRi5yZz4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "955a5eeb-f356-4ef4-9046-8f5eee4bf0fc",
              "name": "choices[0].message.content",
              "value": "={{$json.choices[0].message.content.replace(/\\\\n/g, ' ')}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        -440
      ],
      "id": "7114d1a6-cb6d-4e46-9c91-3e0e973658d9",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T20:20:59.000Z",
  "versionId": "49d24e4b-03f1-447a-a2de-67414db975bd"
}