workflows/AFE5wDym75SGnuq9.json
{
  "active": false,
  "connections": {
    "Set Topic for Google search": {
      "main": [
        [
          {
            "node": "Get advice articles from a Google search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Contribution Writer": {
      "main": [
        [
          {
            "node": "Post new LinkedIn contributions to Slack channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Topic for Google search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get advice articles from a Google search": {
      "main": [
        [
          {
            "node": "Extract Article links for LinkedIn advice articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger Every Monday, @ 08:00am": {
      "main": [
        [
          {
            "node": "Set Topic for Google search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge data and keep unique google search results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to get LinkedIn advice articles": {
      "main": [
        [
          {
            "node": "HTML extract LinkedIn article & other users contributions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge data and keep unique google search results": {
      "main": [
        [
          {
            "node": "HTTP Request to get LinkedIn advice articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out all links for LinkedIn advice articles": {
      "main": [
        [
          {
            "node": "Merge data and keep unique google search results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Article links for LinkedIn advice articles": {
      "main": [
        [
          {
            "node": "Split Out all links for LinkedIn advice articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML extract LinkedIn article & other users contributions": {
      "main": [
        [
          {
            "node": "LinkedIn Contribution Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Merge data and keep unique google search results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post new LinkedIn contributions to Slack channel": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-28T01:30:24.368Z",
  "id": "AFE5wDym75SGnuq9",
  "meta": null,
  "name": "Linkedin Google Search to Advice Gen",
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.google.com/search?q=site%3Alinkedin.com%2Fadvice+{{ $json.Topic }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 25
            }
          }
        }
      },
      "id": "0d0f633b-8285-4921-929b-7259ca16d4a7",
      "name": "Get advice articles from a Google search",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2140,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 1. Get advice articles from a Google search**\nUses an HTTP request to perform a Google search for LinkedIn advice articles based on a predefined query.\n\n## 2. Extract Article links for LinkedIn advice articles\nThis Code node extracts LinkedIn article URLs from the Google search results by using a regular expression. It pulls all article links related to LinkedIn advice.\n\n## 3. Split Out all links for LinkedIn advice articles\nSplits the list of extracted LinkedIn article links into individual items. This allows each article to be processed one at a time in the following steps.\n",
        "height": 566.8592254014303,
        "width": 621.7044818991839,
        "color": 2
      },
      "id": "215810dd-1436-4e27-b4ce-c72c23cd1d81",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a4d22c34-3067-439d-9753-11cb19f0b700",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        1420,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "URL",
              "field2": "matches"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "id": "a31f902c-e2e1-42a5-9766-8d1f40062661",
      "name": "Merge data and keep unique google search results",
      "type": "n8n-nodes-base.merge",
      "position": [
        2620,
        -80
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node script\nconst text = $json.data;\n\n// Define the regex pattern\nconst regexPattern = /https:\\/\\/www\\.linkedin\\.com\\/advice\\/[^%&\\s\"']+/g;\n\n// Execute the regex pattern on the text\nconst matches = text.match(regexPattern);\n\n// Output the matches\nreturn {\n  matches: matches || []\n};\n\n\n"
      },
      "id": "2a0f2700-0d2c-4ad8-9c2e-9072f92e5065",
      "name": "Extract Article links for LinkedIn advice articles",
      "type": "n8n-nodes-base.code",
      "position": [
        2320,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fieldToSplitOut": "matches",
        "options": {}
      },
      "id": "29b7d884-793e-451b-bdb1-cccaa748a8a2",
      "name": "Split Out all links for LinkedIn advice articles",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2500,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "8b55ea1c-6523-4273-bf58-a7e62d73f410",
      "name": "Schedule Trigger Every Monday, @ 08:00am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1420,
        120
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Read the following collaborative article and provide your own helpful collaboration. The article has various topics that each need to be answered. Write me a paragraph of helpful advice for each topic and format your response as outlined in the template below.\n\n-------------\nARTICLE TITLE\n{{ $json.ArticleTitle }}\n\nTOPICS WITHIN THE LINKEDIN ARTICLE:\n{{ $json.ArticleTopics }}\n\nOTHER CONTRIBUTIONS TO THE LINKEDIN ARTICLE:\n{{ $json.ArticleContributions }}\n-------------\n\nYour advice must be unique and something that no one else has recommended before on the article, or in any of the topics. The response needs to be raw and genuine to elicit conversation and engagement.\n\nFormat your output in text and follow the template below. Only populate the template with as many topics as were provided in the original request \n\ni.e: if there were only 4 topics in the original request then only provide 4 pieces of advice:\n\nOUTPUT TEMPLATE\n\n1. [Topic #1 from Article]\n[Advice for Topic]\n\n2. [Topic #2 from Article]\n[Advice for Topic]\n\n3. [Topic #3 from Article]\n[Advice for Topic]\n\n4. [Topic #4 from Article]\n[Advice for Topic]\n\n5. [Topic #5 from Article]\n[Advice for Topic]\n\n6. [Topic #6 from Article]\n[Advice for Topic]"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "2f71fedb-3514-4f26-9c4d-c80ef49f9dfb",
      "name": "LinkedIn Contribution Writer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3300,
        0
      ],
      "typeVersion": 1.4,
      "credentials": {
        "openAiApi": {
          "id": "JnJlqMDcZRi5yZz4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "ArticleTitle",
              "cssSelector": ".pulse-title"
            },
            {
              "key": "ArticleTopics",
              "cssSelector": ".article-main__content"
            },
            {
              "key": "ArticleContributions",
              "cssSelector": ".contribution__text"
            }
          ]
        },
        "options": {}
      },
      "id": "7a975400-7350-4054-a6f0-3e7ef330c347",
      "name": "HTML extract LinkedIn article & other users contributions",
      "type": "n8n-nodes-base.html",
      "position": [
        3060,
        -100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.matches }}",
        "options": {}
      },
      "id": "986efe43-11d2-4a66-99c4-caf5d964b1ab",
      "name": "HTTP Request to get LinkedIn advice articles",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2860,
        -100
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## What this workflow does\n1. **`Triggers Weekly`**: The workflow is set to run every Monday at 8:00 AM.\n2. **`Search Google for LinkedIn Advice Articles`**: Uses a predefined Google search URL to find the latest LinkedIn advice articles based on the user's area of expertise.\n3. **`Extract LinkedIn Article Links`**: A code node extracts all LinkedIn advice article links from the search results.\n4. **`Retrieve Article Content`**: For each article link, the workflow retrieves the HTML content and extracts the article title, topics, and existing contributions.\n5. **`Generate AI-Powered Contributions`**: The workflow sends the extracted article content to an AI model, which generates unique, helpful advice for each topic within the article.\n6. **`Post to Slack & NocoDB`**: The AI-generated contributions, along with the article links, are posted to a designated Slack channel and stored in a NocoDB database for future reference.",
        "height": 473.77664315100793,
        "width": 366.75796434038665,
        "color": 7
      },
      "id": "eecd1546-a5e7-47cf-b6b3-cc632ebf19b2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        -200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Get More Templates Like This 👇\n[![Video Thumbnail](https://onlinethinking.io/wp-content/uploads/2024/10/Lets-Automate-It-Community.png)](http://onlinethinking.io/community)\n",
        "height": 282.5799404564392,
        "width": 396.6384066163515,
        "color": 6
      },
      "id": "14548633-5661-4859-9193-9e0711ed8cc2",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        920,
        -200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setup\n1. **`Google Search URL`**: Update the Google search URL with the relevant LinkedIn advice query for your field (e.g., \"site:linkedin.com/advice 'marketing automation'\").\n\n2. **`Slack Integration`**: Connect your Slack account and specify the Slack channel where you want the contributions to be posted.\n\n3. **`NocoDB Integration`**: Set up your NocoDB project to store the generated contributions along with the article titles and links.",
        "height": 329.9474713935157,
        "width": 366.36771813959956
      },
      "id": "8d4bd7d5-c5bc-436c-9e8a-168858250ac5",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Become A LinkedIn Top Voice with AI\nBuilt for the [Let's Automate It Community](http://onlinethinking.io/community) by [Optimus Agency](https://optimus01.co.za/)\n\nThis workflow helps users maintain a consistent presence on LinkedIn by automating the discovery of new advice articles and generating unique contributions using AI. It is ideal for professionals who want to engage with LinkedIn content regularly without spending too much time manually searching and drafting responses.",
        "height": 1198.0013690558965,
        "width": 812.3060553462686,
        "color": 7
      },
      "id": "7de7bbf7-0eb9-45b5-a2b8-2ba792a5d15c",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        -360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## How to customize this workflow\n- **`Change Search Terms`**: Modify the Google search URL to focus on a different LinkedIn topic or expertise area.\n- **`Adjust Trigger Frequency`**: The workflow is set to run weekly, but you can adjust the frequency by changing the schedule trigger.\n- **`Enhance Contribution Quality`**: Customize the AI model's prompt to generate contributions that align with your brand voice or content strategy.",
        "height": 169.84805961144036,
        "width": 781.0904623817446,
        "color": 7
      },
      "id": "0e4e8889-fab6-4fe1-97e2-968860c5e432",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get all LinkedIn contributions from database NocoDB (GetRows)\nThis node retrieves all LinkedIn contributions stored in a specified NocoDB table. It performs a \"getAll\" operation to fetch all rows from the\n\n\n",
        "height": 463.432215862633,
        "width": 419.095339329518,
        "color": 6
      },
      "id": "2e2bc30b-86be-4efe-a752-6f3e84b060fc",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        -360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Merge data and keep unique google search results\nThis node merges and filters the extracted article links, ensuring that only unique LinkedIn article URLs are processed. It prevents duplicate article links from being handled.\n",
        "height": 446.9376941946034,
        "width": 253.48029435813578,
        "color": 7
      },
      "id": "7425e9b8-a693-4c23-b4dc-1e63efb4ca0f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2540,
        -340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 1. HTTP Request to get LinkedIn advice articles\nSends an HTTP request to retrieve the HTML content of each LinkedIn article link. This node fetches the actual web page content from LinkedIn articles.\n\n## 2. HTML extract LinkedIn article & other users contributions\nThis node extracts relevant information from the HTML of LinkedIn articles, including the article title, topics discussed, and contributions made by other users.\n",
        "height": 550.9285363859362,
        "width": 426.673961735047,
        "color": 5
      },
      "id": "470a2799-c646-4f37-83b8-af175fab00fe",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2820,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Post new LinkedIn contributions to NocoDB (CreateRows)\nStores the AI-generated LinkedIn contributions in a NocoDB database. It saves the article title, link, and the contribution itself for future reference and tracking.",
        "height": 570,
        "width": 281,
        "color": 6
      },
      "id": "1274e533-ad8f-4143-a6d8-3e515b7d16e8",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### `NocoDB` can be swapped with another service like `Airtable` or `Google Sheets`",
        "height": 104.96722916838547,
        "width": 259.5924775143092,
        "color": 7
      },
      "id": "a343d5f8-d52e-4c27-92f7-d1e8099e3b9e",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3860,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### `NocoDB` can be swapped with another service like `Airtable` or `Google Sheets`",
        "height": 80,
        "width": 392.21847914963246,
        "color": 7
      },
      "id": "c03ac039-d056-4428-8a42-c3ddf26edabc",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        -200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## LinkedIn Contribution Writer\nUses an AI model to generate unique contributions based on the extracted content from LinkedIn articles. The generated advice is tailored for each topic within the article.\n",
        "height": 447.75689268844843,
        "width": 309.45427591228105
      },
      "id": "64b60b7d-e860-49c8-b3bd-bc2e13bfedc2",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3260,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFPDbjcDJZ70iDf",
          "mode": "list",
          "cachedResultName": "Linkedin Gen",
          "cachedResultUrl": "https://airtable.com/appFPDbjcDJZ70iDf"
        },
        "table": {
          "__rl": true,
          "value": "tblf1S33XjKUfOpWO",
          "mode": "list",
          "cachedResultName": "Articles",
          "cachedResultUrl": "https://airtable.com/appFPDbjcDJZ70iDf/tblf1S33XjKUfOpWO"
        },
        "options": {}
      },
      "id": "585af522-2f33-40c4-af2f-707a246cde21",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        980,
        480
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "EUVtRR6G16rrZDGL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1C7R_Xb5pfWlctEtgpOrXTz2O1I59VOBNIQJb2mWDWiI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C7R_Xb5pfWlctEtgpOrXTz2O1I59VOBNIQJb2mWDWiI/edit?usp=drivesdk",
          "cachedResultName": "Orthodontist - Dr. Choma"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 966510578,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C7R_Xb5pfWlctEtgpOrXTz2O1I59VOBNIQJb2mWDWiI/edit#gid=966510578",
          "cachedResultName": "Appointments (Smile)"
        },
        "options": {}
      },
      "id": "d59517a7-3a67-445a-8673-b5401c094d05",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1160,
        480
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "content": "## Tools That Are Interchangeable\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### `NocoDB` can be swapped with another service like `Airtable` or `Google Sheets`",
        "height": 521.5579232475401,
        "width": 394.73627201205596,
        "color": 7
      },
      "id": "660c1834-39df-4ed5-b159-e64e122cdead",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "psdqqm1bzphkodc",
        "table": "mpagw9n92ran52o",
        "returnAll": true,
        "options": {}
      },
      "id": "85dd28d3-c22c-4463-8834-06395193df67",
      "name": "Get all LinkedIn contributions from database NocoDB (GetRows)1",
      "type": "n8n-nodes-base.nocoDb",
      "position": [
        1060,
        200
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf3ef4d0-2688-4fe1-9801-a8519bd293f7",
              "name": "Topic",
              "type": "string",
              "value": "Paid Advertising"
            }
          ]
        },
        "options": {}
      },
      "id": "72e374a5-3a87-4927-82e0-4b01ba2d0a3f",
      "name": "Set Topic for Google search",
      "type": "n8n-nodes-base.set",
      "position": [
        1940,
        280
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Set Topic for Google search\nThis node sets a specific topic to be used in subsequent steps of the workflow. ",
        "height": 399.35935838473415,
        "width": 221.13234187060237,
        "color": 7
      },
      "id": "13c72ec2-ddd1-452a-8f29-9978a9157670",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 👆 EDIT THE FIELD HERE ",
        "height": 80,
        "width": 223.88348808302658,
        "color": 4
      },
      "id": "6b287b96-92ea-425f-af54-c3527c3563f9",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFPDbjcDJZ70iDf",
          "mode": "list",
          "cachedResultName": "Linkedin Gen",
          "cachedResultUrl": "https://airtable.com/appFPDbjcDJZ70iDf"
        },
        "table": {
          "__rl": true,
          "value": "tblf1S33XjKUfOpWO",
          "mode": "list",
          "cachedResultName": "Articles",
          "cachedResultUrl": "https://airtable.com/appFPDbjcDJZ70iDf/tblf1S33XjKUfOpWO"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2120,
        -80
      ],
      "id": "839911b7-de14-4bfb-bb6e-874862adf097",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "EUVtRR6G16rrZDGL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appFPDbjcDJZ70iDf",
          "mode": "list",
          "cachedResultName": "Linkedin Gen",
          "cachedResultUrl": "https://airtable.com/appFPDbjcDJZ70iDf"
        },
        "table": {
          "__rl": true,
          "value": "tblf1S33XjKUfOpWO",
          "mode": "list",
          "cachedResultName": "Articles",
          "cachedResultUrl": "https://airtable.com/appFPDbjcDJZ70iDf/tblf1S33XjKUfOpWO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post Title": "={{ $('HTML extract LinkedIn article & other users contributions').item.json.ArticleTitle }}",
            "URL": "={{ $('Merge data and keep unique google search results').item.json.matches }}",
            "Contribution": "={{ $('LinkedIn Contribution Writer').item.json.message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contribution",
              "displayName": "Contribution",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Person",
              "displayName": "Person",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3940,
        20
      ],
      "id": "ad384d26-e60b-4b55-94b8-e0204917e90c",
      "name": "Airtable2",
      "credentials": {
        "airtableTokenApi": {
          "id": "EUVtRR6G16rrZDGL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Post new LinkedIn contributions to Slack channel\nPosts the AI-generated LinkedIn contributions to a specified Slack channel. This allows the contributions to be shared with a team or for record-keeping.\n",
        "height": 451.5087489779234,
        "width": 242.07228127555214,
        "color": 3
      },
      "id": "4fc03a9a-3ca4-49fe-a69e-e6ac1f733bbb",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3580,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C07CFN279HT",
          "cachedResultName": "cass-linkedin-advice"
        },
        "text": "=↓ 📝 ARTICLE:\n{{ $('HTML extract LinkedIn article & other users contributions').item.json.ArticleTitle }}\n{{ $('Merge data and keep unique google search results').item.json.matches }}\n\n↓ 💡 ADVICE:\n{{ $json.message.content }}\n------------------------------------------------------",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": true,
          "unfurl_links": true
        }
      },
      "id": "37efbc96-bdb5-4098-b8c2-508a67c18b63",
      "name": "Post new LinkedIn contributions to Slack channel",
      "type": "n8n-nodes-base.slack",
      "position": [
        3660,
        20
      ],
      "typeVersion": 2.2,
      "webhookId": "e491d79d-d0d8-48bd-ab71-6083105388cb"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-28T01:59:08.000Z",
  "versionId": "8c6d4b6b-23cb-4e61-9e12-85dc545e3903"
}