workflows/MpLTrzXJPMsbBCcz.json
{
  "active": true,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Deepseek v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Deepseek v3": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-27T19:51:43.850Z",
  "id": "MpLTrzXJPMsbBCcz",
  "meta": null,
  "name": "Telegram Upwork Notif",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -340
      ],
      "id": "2ae2731d-f9c8-432f-9b21-dbdc0299faa7",
      "name": "Telegram Trigger",
      "webhookId": "6720cc5c-42a4-4858-925a-74ec0656ac3e",
      "credentials": {
        "telegramApi": {
          "id": "KUDPSwACHXZk7PQt",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=I am a workflow automation specialist. I'm looking to apply for jobs related to my expertise that is automating business processes, repetitive tasks. Things that can be solved using no-code automation tools are my favorites. \n- I'm definitely not looking for secondary job titles such as project manager, web developer or backend developer. \n\n- Please assess the following UPWORK job posting and decide if it's relevant to my skill set:  \n\nJob Title:{{ $json.body.title }}\nJob Description: {{ $json.body.description }}\n\nOnly answer with Yes or No"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "03e8e3cd-ed7a-4a62-851d-661a09b24fd2",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JnJlqMDcZRi5yZz4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "@upworkybotardo",
        "text": "={{ $('Webhook').item.json.body.title }}\n{{ $('Webhook').item.json.body.description }}\n\nLink: {{ $('Webhook').item.json.body.url }}\nProposal: \n\n{{ $json.message.content }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        0
      ],
      "id": "42fee6ce-b896-422c-ba41-2042ae9757bc",
      "name": "Telegram",
      "credentials": {
        "telegramApi": {
          "id": "KUDPSwACHXZk7PQt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b8f2264-38fa-4f4d-8357-aef9aa4cb9a5",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "227ae257-26f5-4908-85b5-8082adf8d100",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        640,
        0
      ],
      "id": "6bbf5106-4efc-4e89-8ae5-30d5f7aff2ec",
      "name": "Filter"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8123af0e-260b-46ad-a831-646883c2340e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "id": "81898205-8a0f-4cae-94fd-df404675aa4b",
      "name": "Webhook",
      "webhookId": "8123af0e-260b-46ad-a831-646883c2340e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk-0db06144e99e4647a7c3be04804bedf8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Create a proposal for the Upwork job posting following this structure:\\n\\nHi,\\n- Introduce yourself briefly as a workflow automation specialist.\\n- Include 1 or 2 similar (but not equal) projects you've worked on with measurable results.\\n\\nEnding: Looking forward to discussing in more detail.\\n\\nBest,\\nIvan\\n\\n- Use simple language for non-technical audiences.\\n- Spartan tone.\\n- Stay below 700 characters.\\n\\nThis is an example of the structure:\\n\\nHi, I'm a workflow automation specialist and I've built some of the type of AI-powered automations you're looking for, including audio-to-content pipelines and AI-driven social media systems.\\nRecent projects include automated content generation using Claude and GPT 4o API, multi-channel social scheduling, and audio transcription workflows. I've helped clients save 30+ hours weekly through similar automations.\\n\\nLooking forward to discussing in detail.\\n\\nBest,\\nIvan\\n\\nJob posting: {{ $(\\\"Webhook\\\").item.json.body.title }}\\n{{ $(\\\"Webhook\\\").item.json.body.description }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Hello!\"\n    }\n  ],\n  \"stream\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        -600
      ],
      "id": "d54b8be9-04b1-4b90-9075-d9e3f1f7cc27",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "=deepseek/deepseek-chat",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a brief, direct Upwork proposal.\nBegin with a simple \"Hi,\" and immediately explain how you will approach the project without other introduction (dont use I would love to help or i'm excited or similar). Mention a relevant similar project that demonstrates your expertise with those tools and with measurable results. If applicable, add a question about the project that shows attention to detail. End with a call to action like \"Looking forward to discussing the details\" or \"Let me know how this sounds,\" and always close with \"Best, Ivan.\"\nTone: Use a casual, natural-sounding tone.\n\n\nRules:\n- Max 450 characters\n- Jump straight into the solution - no introductions\n- Focus only on their primary requirement\n- Use specific tools/technologies they mentioned\n- Include one clear metric from past work\n- Sound like a real message, not a formal pitch\n- Skip all buzzwords and filler phrases\n\nAvoid words/phrases like:\n- \"I'm excited/happy/passionate\"\n- \"I would love to help\"\n- \"expertise/expert\"\n- \"streamline/optimize/leverage\"\n- \"user-friendly/seamless/efficient\"\n- \"I'll help you create\"\n\nKeep the focus on WHAT you'll build/set up, not who you are.\n\n\nJob posting:  {{ $('Webhook').item.json.body.title }}\n{{ $('Webhook').item.json.body.description }}"
            },
            {
              "content": "You are a copywriter expert in upwork proposals and trained into not looking AI like when writting.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        1160,
        0
      ],
      "id": "68377097-c8f7-45b0-afa1-b227eef598ee",
      "name": "Deepseek v3",
      "credentials": {
        "openAiApi": {
          "id": "D6B22X1HqZRalKvO",
          "name": "OpenRouter"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 208660845,
          "message": {
            "message_id": 18367,
            "from": {
              "id": 1253883192,
              "is_bot": false,
              "first_name": "Ivan",
              "language_code": "en"
            },
            "chat": {
              "id": 1253883192,
              "first_name": "Ivan",
              "type": "private"
            },
            "date": 1736161590,
            "text": "N8N Matched Betting AI Workflow \n\nScripts & Utilities • Fixed Budget • $200.00 • Intermediate level • Ongoing project • Contract to hire • ⚡ 14 connects\n  \nSkills\nn8n • Python • API • Artificial Intelligence • Automation • Data Analysis • OpenAI API • Scripting & Automation\n\nAbout Client\n⭐ 5 • 6 reviews • Australia • 9 jobs • Hire rate 39% • Average rate $15.55 per hour • Spent $1,899.29 • ✅ Payment verified\n\nDescription\nI am looking to develop the following in N8N with two external API services.\na) https://the-odds-api.com/liveapi/guides/v4/#get-odds\nb) https://docs.steel.dev/overview/intro-to-steel\n\n\nIts a Matched Betting AI workflow:\n1.Create a daily profit goal. Agent\n2. Monitor my email and sms for matched betting promotions\n3.OpenAI 4o-mini analyse email and sms if promotion and breakdown\n4.Pull in live odds from GET /v4/sports/upcoming/odds/?apiKey=b0a48889b4545b4e58c1137956db330c&regions=au place in Postgres database and analyse with OpenAI 4o-mini which odds to place for matched betting. (To send matched betting logic to add to Openai)\n5. Create a list of actions to take - Agent\n6. send instructions to steel.dev API (https://docs.steel.dev/overview/intro-to-steel_ to place bets on browser.\n7. Add actions such as what was placed how much and who with in Postgres database.\n\n⏱️ 2 minutes ago",
            "entities": [
              {
                "offset": 0,
                "length": 31,
                "type": "bold"
              },
              {
                "offset": 71,
                "length": 7,
                "type": "bold"
              },
              {
                "offset": 156,
                "length": 6,
                "type": "bold"
              },
              {
                "offset": 276,
                "length": 12,
                "type": "bold"
              },
              {
                "offset": 413,
                "length": 11,
                "type": "bold"
              },
              {
                "offset": 505,
                "length": 52,
                "type": "url"
              },
              {
                "offset": 561,
                "length": 46,
                "type": "url"
              },
              {
                "offset": 1129,
                "length": 9,
                "type": "url"
              },
              {
                "offset": 1144,
                "length": 47,
                "type": "url"
              },
              {
                "offset": 1302,
                "length": 16,
                "type": "italic"
              }
            ],
            "link_preview_options": {
              "url": "https://the-odds-api.com/liveapi/guides/v4/"
            }
          }
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.freddyflows.com",
            "user-agent": "node",
            "content-length": "1635",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "34.168.253.122",
            "x-forwarded-host": "n8n.freddyflows.com",
            "x-forwarded-proto": "https",
            "x-real-ip": "34.168.253.122:50868"
          },
          "params": {},
          "query": {},
          "body": {
            "createdAt": "2025-01-24T00:29:36.999Z",
            "updatedAt": "2025-01-24T00:29:36.999Z",
            "postedAt": "2025-01-24T00:28:02.881Z",
            "categoryGroup": "Admin Support",
            "category": "Virtual Assistance",
            "title": "Automation of processes",
            "description": "Automation between reports extracted from crm and mail merge letters, \nAutomate emails received in a certain inbox and criteria to be saved as pdf as well as attachments \ncreate a way for CRM to speak to Xero (maybe through reports) \nStreamline invoicing and statement generation\n\nMay also (if able to): assist with website and sales funnel, Automate responses and follow ups to enquiries",
            "locationCheckRequired": false,
            "countries": [],
            "regions": [],
            "budget": null,
            "budgetType": "HOURLY",
            "hourlyFrom": null,
            "hourlyTo": null,
            "more30HoursPerWeek": false,
            "featured": false,
            "experience": "INTERMEDIATE",
            "oneTimeProject": true,
            "onGoingProject": false,
            "contractToHire": false,
            "questions": [],
            "skills": [
              "Virtual Assistance",
              "Accounts Receivable Management",
              "Medical Mastermind Medical Billing Services",
              "Medical Billing & Coding",
              "Insurance Verification",
              "HIPAA",
              "VOB",
              "Medical Procedure Coding",
              "ICD Coding",
              "Medical Billing",
              "Insurance Claim Submission",
              "Insurance Appraisal",
              "Client Management",
              "Administrative Support",
              "EMR Data Entry",
              "General Virtual Assistance"
            ],
            "url": "https://www.upwork.com/jobs/~021882585581461723185",
            "clientRating": 0,
            "clientReviewsCount": 0,
            "clientCountry": "New Zealand",
            "clientTotalJobs": 0,
            "clientTotalHires": 0,
            "clientSpent": null,
            "clientHireRate": null,
            "clientAverageRate": null,
            "clientPaymentVerified": false,
            "clientEnterprise": false,
            "connectsCost": 6,
            "feedNames": [
              "Automations"
            ],
            "hashTags": []
          },
          "webhookUrl": "https://n8n.freddyflows.com/webhook/8123af0e-260b-46ad-a831-646883c2340e",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-24T02:03:26.000Z",
  "versionId": "0cf6b424-ff3c-441d-bea4-041c639331ad"
}